body {
    background: url('fondo1.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 1.2em; /* Aumenta el tamaño de las etiquetas */
}

input {
    width: calc(100% - 22px); /* Para mantener el input dentro del div con padding */
    padding: 10px;
    margin-top: 5px;
    font-size: 1.2em; /* Aumenta el tamaño de los inputs */
}

button, .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2em; /* Aumenta el tamaño de los botones */
}

img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}
